# Ignore Git
.git
.gitignore

# Ignore Python artifacts
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore local dev environments
venv/
.env

# Ignore Terraform files if they are accidentally in this folder
.terraform/
*.tfstate

# Ignore Documentation
README.md