name: "Terraform Infrastructure"

on:
  push:
    branches: [ main ]
    paths:
      - 'terraform/**' # Only triggers when infra changes
  workflow_dispatch:    

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Terraform Init & Apply
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve